:root {
   /* Font sizes */
   font-size: 62.5%;
   --small: 1.4rem;
   --normal: 1.6rem;
   --large: 1.8rem;
   --normalTitle: 2rem;
   --largeTitle: 2.6rem;

   /* Colors */
   --darkbg: #070914;
   --accentColor: aquamarine;
   --greyColor: #6e6f77;
   --white: #a8aab3;
   --cardbg: #05060e;

   /* Broders */
   --borderColor: 1px solid #18191f;
   --borderColorHover: 1px solid var(--accentColor);
   --borderRadius: 3px;

   --transition: 0.2s ease;
}

html {
   font-family: var(--font-inter);
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   background-color: var(--darkbg);
   color: #fff;
   height: 100vh;
}

.container {
   max-width: 1550px;
   width: calc(100vw - 80px);
   height: 100%;
   margin: auto;
   padding-bottom: 5rem;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   width: 100%;
   display: block;
   border-radius: var(--borderRadius);
}

.defaultBtn {
   background-color: var(--cardbg);
   border: 2px solid var(--accentColor);
   font-size: var(--normal);
   color: #fff;
   font-weight: 600;
   padding: 1.2rem 2.5rem;
   border-radius: var(--borderRadius);
   transition: var(--transition);
}
.defaultBtn:hover {
   border: 2px solid var(--greyColor);
}

.logo {
   font-size: 2.4rem;
   font-weight: 600;
   color: #fff;
   padding: 3rem 0 3rem;
   transition: var(--transition);
   cursor: pointer;
   display: inline-block;
}
.logo:hover {
   color: var(--accentColor);
   transform: scale(1.02);
}

.containerLoading {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.loading {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 10px solid #ccc;
   border-right-color: transparent;
   animation: loading 1s infinite;
}

@keyframes loading {
   to {
      transform: rotate(360deg);
   }
}

@media (max-width: 660px) {
   .container nav {
      display: flex;
      justify-content: center;
   }
}
